* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(135deg, #5225177b, #19264f81);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #66adba, #7ccd25);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7289da;
}


::-webkit-scrollbar-corner {
  background: rgba(129, 43, 43, 0.579);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: radial-gradient(#522517, #19264f);
  background-size: 150% 150%;
  color: #fff;
  animation: gradientAnimation 10s ease infinite;
}

body.light-mode {
  background-color: #ffffff;
  color: #333333;
}

body.dark-mode {
  background-color: #181818;
  color: #f4f6f8;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 20%;
  }

  35% {
    background-position: 20% 40%;
  }

  50% {
    background-position: 50% 50%;
  }

  65% {
    background-position: 40% 20%;
  }

  100% {
    background-position: 0% 20%;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  position: relative;
}

header .avatar-container {
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 10;
  transform: scale(0.7);
  opacity: 0;
  pointer-events: none;
}

header.scrolled .avatar-container {
  opacity: 1;
  pointer-events: auto;
}

#about .avatar-container {
  position: static;
  transform: scale(1);
  opacity: 1;
}


/* header {
  transition: all 0.5s ease;
}

header:not(.scrolled) .avatar {
  position: static;
  width: 150px;
  height: 150px;
}

header:not(.scrolled) h1 {
  position: static;
  font-size: 2em;
} */

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #7ccd25;
}

.container {
  padding: 50px 20px;
  text-align: center;
}

h1,
h2 {
  margin-bottom: 20px;
}

.theme-switch {
  position: fixed;
  right: 20px;
  background-color: #333;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.theme-switch span {
  display: block;
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

body.light-mode .theme-switch {
  background-color: #ddd;
}

body.light-mode .theme-switch span {
  transform: translateX(25px);
}
.language-switch {
  position: relative;
  display: inline-block;
}

.lang-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.language-dropdown {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #333;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.language-switch:hover .language-dropdown {
  display: block;
}

.language-dropdown li {
  padding: 5px 20px;
  text-align: left;
  color: #fff;
  cursor: pointer;
}

.language-dropdown li:hover {
  background-color: #7ccd25;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
}

.info-quotes-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.info-island, .quotes-island {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  margin-top: 20px;
}


.info-label {
  font-weight: bold;
  color: #7ccd25;
  margin-right: 10px;
}

.quotes-island .quote {
  margin: 10px 0;
  font-style: italic;
  color: #e0e0e0;
}

.quotes-island button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #7ccd25;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quotes-island button:hover {
  background-color: #66adba;
}

.timer.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}

.timer.critical {
  color: red;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1001;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

#allQuotes {
  margin-top: 20px;
}

#allQuotes p {
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  font-style: italic;
  color: #e0e0e0;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.skill {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.skill i {
  font-size: 40px;
  color: #7ccd25;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.skill:hover i {
  transform: rotate(360deg); 
}

.skill h3 {
  margin-bottom: 10px;
  color: #7ccd25;
}

.divider {
  width: 100%;
  height: 4px;
  background-color: #7ccd25;
  margin: 50px 0;
}

.music-player {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hidden {
  display: none;
}

.projects-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #333;
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h3 {
  margin: 15px 0;
  color: #7ccd25;
}

.social-buttons {
  margin-top: 20px;
}

.social-buttons a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.web-button {
  background-color: #66adba;
}

.telegram-button {
  background-color: #0088cc;
}

.discord-button {
  background-color: #7289da;
}

.github-button {
  background-color: #333;
}

.reddit-button {
  background-color: #ff4500;
}

.youtube-button {
  background-color: #ff0000;
}


.social-buttons a:hover {
  background-color: #444;
  transform: scale(1.1);
}

.timer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

#newYearCountdown, #birthdayCountdown, #helaneyCountdown, #halloweenCountdown {
    font-size: 1.5em;
    font-weight: bold;
}

.confetti-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--confetti-color, #FFD700);
  opacity: 0.8;
  border-radius: 50%;
  animation: confetti-fall linear infinite;
}

.halloween-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1000;
}

.fas.fa-ghost {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: cover;
  animation: fly 5s linear infinite;
}

@keyframes fly {
  0% { transform: translateY(90vh); opacity: 0; }
  50% { opacity: 1; }
  100% { transform: translateY(-100px); opacity: 0; }
}

.fa-solid.fa-spider.fa-shake {
  color: rgb(136, 25, 25);
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: cover;
  animation: bounce 5s linear infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-50px); }
}


@keyframes drop {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(100vh);
  }
}


@keyframes confetti-fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

@keyframes confetti-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


footer {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}