body {
  --color1: #522517;
  --color2: #19264f;
  background: linear-gradient(45deg, var(--color1), var(--color2));
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#countdown {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color:rgb(38, 66, 27);
  margin-top: 3rem;
}

#countdown span {
  padding: 0 0.5rem;
}


.avatar-container {
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.avatar {
  flex-basis: 30%;
  top: 250px;
  padding: 50px;
}

.avatar img {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
}

.name {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quote {
  flex-basis: 70%;
  padding: 10px;
}

.quote p {
  font-size: 20px;
  font-style: italic;
  color: #202020;
  line-height: 1.5;
  margin: 0;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: rgb(38, 66, 27);
}

.projects {
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card {
  background-color: #2a2828;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}

.card .header {
  padding: 10px;
  background-color: #657c82;
  border-bottom: 2px solid #fff;
}

.card .header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.card .header p {
  font-size: 20px;
  margin: 0;
}

.card .content {
  padding: 10px;
}

p.t {
  color: #7ccd25
}

.social-buttons {
  text-align: center;
  margin: 20px;
}

.social-buttons a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.web-button {
  background-color: #66adba6d;
}

.telegram-button {
  background-color: #0088cc;
}

.discord-button {
  background-color: #7289da;
}

.github-button {
  background-color: #333;
}


.social-buttons a:hover {
  background-color: #444;
}

footer {
  padding: 1rem 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  color: #fff;
}