body {
  background: linear-gradient(45deg, #ee7752, #3cd3e7, #4f23d5, #23d561);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.logo {
  text-align: center;
  padding: 10px;
}

.logo img {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.quote {
  text-align: center;
  padding: 4px 0;
  color: gray;
}

.description {
  text-align: center;
  padding: 10px;
  color: rgb(255, 234, 0);
}

.about {
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px;
}

.projects {
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px;
}

.contact {
  text-align: center;
  margin-bottom: 20px;
}

.contact a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}
.projects-wrapper {
  display: flex;
  justify-content: space-between;
}
/* карт0чки */
.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #2a2828;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-basis: calc(50% - 10px);
    margin-right: 10px;
}
.card:last-child {
  margin-right: 0; 
}

.card .header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #657c82;
    color: #ff000f;
}
.card .header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.card .header p {
    font-size: 20px;
    margin: 0;
}
.card .content {
    padding: 10px;
}
@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.card.animated {
    animation: slide-up 0.5s ease-out forwards;
}

.card.animated .header {
    animation: fade-in 0.5s ease-out forwards;
}

