.service-list {
    list-style-type: none;
    padding: 0;
}

.service-list li {
    background: var(--section-bg);
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-list h2 {
    margin-bottom: 5px;
}

.service-list p {
    margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    font-size: 0.9em;
    background: var(--header-footer-bg);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--section-bg);
    color: var(--text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--section-bg) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
