html {
    font-size: 10px; /* думаю норм  */
    font-family: 'Rubik Bubbles', cursive;
  }

body {
    background-color: rgb(44, 39, 39);
}
h1 {
    color: rgb(47, 244, 47);
    font-size: 60px;
    text-align: center;
}

p {
    color: orange;
}
a.git {
    color: red;
    text-align: right;
    margin-top: 20px;
}
a.dc {
    color:blue;
}
#header{ 
    width: 0px;  
    height: 0px;  
    background-color: rgb(92, 92, 92);
    margin-bottom: 0px;  
    margin-left: 0px;
    background-image: "aссets\images\s.png"
    } 

h3{
width: 30px; 
color: royalblue; 
font-style: '';
margin-left: 120px;
margin-bottom: 50px;
text-align: center;
} 
iframe{
    margin-left: 900px;
}
p{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}