body {
  background: linear-gradient(to bottom right, #003366, #009933);
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logo {
  text-align: center;
  padding: 10px;
}

.logo img {
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
}

.logo h1 {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.quote {
  text-align: center;
  padding: 4px 0;
  color: gray;
}

.description {
  text-align: center;
  padding: 10px;
  color: rgb(255, 234, 0);
}

.about {
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px;
}

.projects {
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px;
}

.contact {
  text-align: center;
  margin-bottom: 20px;
}

.contact a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Стили для карточки */
.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #2a2828;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
}

/* Стили для заголовка карточки */
.card .header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #657c82;
    color: #ff000f;
}

/* Стили для картинки в заголовке */
.card .header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Стили для текста в заголовке */
.card .header p {
    font-size: 20px;
    margin: 0;
}

/* Стили для контента карточки */
.card .content {
    padding: 10px;
}

/* Анимация для карточки */
@keyframes slide-up {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

/* Анимация для заголовка */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Анимированные карточки */
.card.animated {
    animation: slide-up 0.5s ease-out forwards;
}

/* Анимированный заголовок */
.card.animated .header {
    animation: fade-in 0.5s ease-out forwards;
}