@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    35% {
        background-position: 50% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    65% {
        background-position: 50% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

:root {
    --bg-color: linear-gradient(70deg, aqua, white, lightgreen, lightcoral);
    --text-color: #000000;
    --header-footer-bg: linear-gradient(70deg, lightblue, lightyellow);
    --animation-bg: gradientShift 10s infinite alternate;
    --section-bg: rgba(255, 255, 255, 0.8);
}

[data-theme="dark"] {
    --bg-color: linear-gradient(90deg, black, darkred, darkgreen, rgb(82, 38, 171));
    --text-color: #ffffff;
    --header-footer-bg: linear-gradient(90deg, darkgray, black);
    --animation-bg: gradientShift 10s infinite alternate;
    --section-bg: rgba(30, 30, 30, 0.9);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    background-size: 420% 14000%;
    animation: var(--animation-bg);
}

header, footer {
    background: var(--header-footer-bg);
    background-size: 420% 14000%;
    animation: var(--animation-bg);
}

.section {
    background: var(--section-bg);
    color: var(--text-color);
}